<link rel="stylesheet" href="/style.css">
<div class="container">
<h2>Login</h2>
<form method="POST" action="/login">
  <input name="email" type="email" required />
  <input name="password" type="password" required />
  <button>Login</button>
</form>
<a href="/signup">Signup</a> </div>